@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 헤더 */
.divHeader {
    margin-top: 20px;
    text-align: center;
    font-family: 'TheJamsil5Bold';
}
.aHeader {
    text-decoration: none;
    color: #A2DBEE;
    font-size: 50px;
}
.aHeader:hover {
    color: #A2DBEE;
}
/* /헤더 */

/* 테두리 */
.contentsBorder {
    border: 1px solid #eea8cc8e;
    border-radius: 10px;
    margin-bottom: 50px;
}
/* /테두리 */

/* 푸터 */
.divFooter {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'TheJamsil5Bold';
    padding: 5px;
    position: relative;
    width: 100%;
    border-top: 1px solid #7e7e7e;
}
/* /푸터 */

/* hr 태그 */
hr {
    margin: 0;
}
/* /hr 태그 */

/* a태그 밑줄 제거 */
.aTagNone {
    text-decoration: none;
}
/* /a태그 밑줄 제거 */